---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "Playground",
  description: "",
};
export const prerender = true;
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">Playground</h1>

    <h2>Fun Tools</h2>
    <ul class="list-inside list-disc">
      <li class="list-item">
        <a href="/playground/timers/pomodoro" class="cactus-link mx-4 my-4 sm:py-0"
          >Pomodoro Timer</a
        >
      </li>
      <li class="list-item">
        <a href="/playground/timers/distractionTimer" class="cactus-link mx-4 my-4 sm:py-0">
          Distraction Timer
        </a>
      </li>
    </ul>
    <h2>Work in Progress</h2>
    <ul class="list-inside list-disc">
      <li class="list-item">
        <a href="gol" class="cactus-link mx-4 my-4 sm:py-0">Game of life</a>
      </li>
    </ul>
  </div>
</PageLayout>
