---
import PageLayout from "@/layouts/Base";
import { getToken } from "@/lib/auth";
import { auth } from "@/lib/lucia.server";
import HealthDataForm from "../../components/HealthData/HealthDataForm";

const meta = {
  title: "Secrets",
  description: "",
};

const authRequest = auth.handleRequest(Astro);
const { user } = await authRequest.validateUser();

if (!user) {
  return Astro.redirect("/auth/login", 302);
}

const token = await getToken(user.userId);

if (!token) {
  return Astro.redirect("/auth/login", 302);
}

export const prerender = false;
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">Secrets</h1>
    <p class="description">Secrect page for testing</p>
    <HealthDataForm client:load token={token} />
    <form action="/api/logout" method="post">
      <button
        type="submit"
        class="flex w-full justify-center rounded-md bg-accent px-3 py-1.5 text-sm font-semibold leading-6 text-bgColor shadow-sm hover:bg-accent-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent-dark"
      >
        Sign out
      </button>
    </form>
  </div>
</PageLayout>
