---
const year = new Date().getFullYear();

const url = new URL(Astro.request.url);

const menuLinks = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/posts",
  },
  {
    title: "Playlists",
    path: "/playlists",
  },
  {
    title: "Playground",
    path: "/playground",
  },
];
---

<footer
  class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top text-gray-500 sm:flex-row sm:justify-between sm:text-xs"
>
  <div class="mr-0 sm:mr-4">
    Copyright &copy; {year}
    <span aria-label="rocket emoji">🦖</span>
  </div>
  <nav
    aria-label="More on this site"
    class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
  >
    {
      menuLinks.flatMap((link) => (
        <a
          href={link.path}
          class="px-4 py-2 sm:px-2 sm:py-0 sm:hover:text-link sm:hover:underline"
          aria-current={url.pathname === link.path ? "page" : false}
          rel="prefetch"
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</footer>
