.thumbsUp {
	animation: like 1.5s linear alternate infinite;
	-webkit-animation: like 1.5s linear alternate infinite;
}

@keyframes like {
	0% {
		transform: rotate(-4deg) scale(1.005);
		filter: blur(0.2px);
		fill: rgba(255, 255, 255, 0.9);
	}
	50% {
		transform: rotate(0deg) scale(1);
		filter: blur(0px);
		fill: rgba(255, 255, 255, 0.6);
	}
	100% {
		transform: rotate(4deg) scale(1.005);
		filter: blur(0.2px);
		fill: rgba(255, 255, 255, 0.9);
	}
}
