
.thumbsUp {
  animation: like 1s ease-in-out alternate infinite;
  -webkit-animation: like 1s ease-in-out alternate infinite;
}

@keyframes like {
  100% {
    transform: rotate(-15deg) scale(1.3);
    -webkit-transform: rotate(-15deg) scale(1.3);
    -moz-transform: rotate(-15deg) scale(1.3);
    -ms-transform: rotate(-15deg) scale(1.3);
    -o-transform: rotate(-15deg) scale(1.3);
    filter: blur(0.2px);
    -webkit-filter: blur(0.2px);
  }
}
