---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { Image } from "@astrojs/image/components";
import MeImage from '../assets/image.webp';
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
export const prerender = true;
---

<PageLayout meta={{ title: "Home" }}>
  <section class="flex gap-6 mt-8 h-card">
    <a class="hidden u-url" rel="me" href="https://deloughry.co.uk/">Matthew Peck-Deloughry</a>
    <a class="hidden u-url" href="acct:matt@deloughry.co.uk"></a>
    <Image src={MeImage} class="u-photo w-4/12 aspect-square hidden md:block rounded-lg shadow-lg" />
    <h1 class="flex-1 text-2xl sm:text-4xl self-center">
        <span class="text-link">Developer.</span><br>
        <span class="text-twitch">Streamer.</span><br>
        <span class="text-twitter line-through">Tweeter.</span><span class="text-mastodon">Tooter.</span><br>
        &amp; a little bit of everything <span class="dark:text-accent-2 text-accent">Nerdy!</span><span class="font-bold">_</span>
    </h1>
  </section>
	<section class="mt-16">
		<h2 class="title mb-6">Av' fun developing, Av' fun learning, then Av'a crack at engineering it!</h2>
		<p class="mb-4">
      Aye up, I'm Matt (aka Dr_DinoMight 🦖🧨), a developer of something around 15 years (I think!? They all blend into one and other now 😖).<br><br>
      I'm a developer for the brilliant HMA Digital here in South Yorkshire, UK.<br><br>
      💬 I'm a Full Stack Developer who loves to tinker with anything and everything, I love to build, be it personal 1 person projects or large scale community projects, as long as it's code it floats my boat!<br><br>
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
