---
import PageLayout from "@/layouts/Base";
import NowPlaying from "src/components/NowPlaying.jsx";

const meta = {
	title: "Playground",
	description: "",
};
export const prerender = true;
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Playground</h1>

    <p>Under contrstruction as we used to say 🤓</p>

	</div>
</PageLayout>
