---
import PageLayout from "@/layouts/Base";
import NowPlaying from "src/components/NowPlaying.jsx";

const meta = {
	title: "Playground",
	description: "",
};
export const prerender = true;
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Playground</h1>

		<h2>Work in Progress</h2>
    <ul class="list-disc list-inside">
      <li class="list-item"><a href="/playlists" class="my-4 mx-4 cactus-link  sm:py-0 ">Spotify Jams Playlists</a></li>
    </ul>
	</div>
</PageLayout>
