---
import type { Session } from "@auth/core/types";
import { Auth, SignIn, SignOut } from "auth-astro/components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <h1>Astro</h1>
    <Auth>
      {
        (session: Session) => {
          if (session) {
            return (
              <>
                <p>Logged in as {session?.user?.name}</p>
                <SignOut>Sign Out</SignOut>
              </>
            );
          } else {
            return <SignIn provider="github">Sign In</SignIn>;
          }
        }
      }
    </Auth>
  </body>
</html>
