---
const { tags } = Astro.props;
---
<small>
 <span>Tags:</span>
    { tags &&  tags.map( tag => {
      return <span class="line-clamp-2 text-accent hover:text-link font-oswald font-bold uppercase">{tag}</span>
    })}
</small>
