---
const { tags } = Astro.props;
---
<>
    { tags &&  tags.map( tag => {
      return <span class="uppercase inline-block bg-accent text-textColor px-2 py-1 rounded-md text-xs font-medium ">{tag}</span>
    })}
</>
