---
import Twitch from "./assets/svgs/Twitch.astro";
import Mastodon from "./assets/svgs/Mastodon.astro";
import Claw from "./assets/svgs/Claw.astro";
import GitHub from "./assets/svgs/GitHub.astro";
---
<div class="flex flex-wrap items-center gap-x-4 sm:items-center">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-4 sm:flex-initial">
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://github.com/DR-DinoMight"
				target="_blank"
				rel="noopener noreferrer"
			>
        <GitHub class="h-6 w-6 fill-accent hover:fill-github transition-all"/>
				<span class="sr-only">Github</span>
			</a>
		</li>
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://phpc.social/@DrDinoMight"
				target="_blank"
				rel="noopener noreferrer me"
			>
				<Mastodon class="h-6 w-6 fill-accent hover:fill-mastodon transition-all"/>
				<span class="sr-only">Mastodon</span>
			</a>
		</li>
		<li>
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://www.twitch.tv/dr_dinomight"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Twitch class="h-6 w-6 fill-accent hover:fill-twitch transition-all"/>
				<span class="sr-only">Twitch</span>
			</a>
		</li>
		<li>
			<a class="inline-block p-2 sm:hover:text-link" href="https://discord.gg/theclaw">
        <Claw class="h-6 w-6 fill-accent hover:fill-claw transition-all" />
				<span class="sr-only">Claw</span>
			</a>
		</li>
	</ul>
</div>
