---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "Projects",
  description: "",
};
export const prerender = true;
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">Projects</h1>

    <h2>Fun Tools</h2>
    <ul class="list-inside list-disc">
      <li class="list-item">
        <a href="https://nhs-number-gen.m4p.uk/" target="_blank" class="cactus-link mx-4 my-4 sm:py-0">NHS Number Generator and Validator</a>
      </li>
      <li class="list-item">
        <a href="https://blosm-temps.vercel.app/" target="_blank" class="cactus-link mx-4 my-4 sm:py-0">BLOSM Studio Latest Temps</a>
      </li>
    </ul>
    <h2>Work in Progress</h2>
    <ul class="list-inside list-disc">
      <li class="list-item">
        <a href="/playground/gol" class="cactus-link mx-4 my-4 sm:py-0">Game of life</a>
      </li>
    </ul>
  </div>
</PageLayout>
